h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 1.6rem;
    text-align: center;
    color: #292929;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}